@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/*https://colorhunt.co/palette/1d3e53254b62476d7c77abb7 #21D4FD linear-gradient(to right top, #476D7C, #77ABB7)*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");
@import "./Chat.module.css";
@import "./Login.module.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    background: #0f0e10 ;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.start {
    font-weight: bold;
    font-size: 5rem;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 10px;
    position: fixed;
}

.navbar a {
    margin: 5px;
    padding: 10px;
    color: #FFF;
    background-color: #3e3a3d;
    border-radius: 5px;
}

.navbar a:hover {
    opacity: 80%;
}

a {
    color: #fff;
    cursor: pointer;
}
a:hover {
    color: #000;
    background-color: #33ccff;
}
a:visited {
    color: #fff;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    color: white;
    background-color:  #33ccff;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.25s;
}

button:hover {
    opacity: 0.5;    
    cursor: pointer;
}

footer {
    position: fixed;
    text-align: center;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    background: #464649;
}